
  body { 
    text-align: center;
    font-family: 'YourCoolFont', sans-serif;
    background-color: #EDF5F8;
  }

  h1 {
    color: #1c2a9f;
  }
  
  .inline {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  .inline label {
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
  }

  #Project {
    width: 200px;
    margin-right: 30px;
    text-align: center;
  }

  #Assignee {
    width: 200px;
    margin-right: 30px;
    text-align: center;
  }

  #IssueType {
    width: 200px;
    margin-right: 40px;
    text-align: center;
  }

  #summary-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px; /* Added margin to create space above the textbox */
  }
  
  #summary-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  #summary-box {
    width: 600px;
    padding: 2px;
  }

  #description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  }
  
  #description-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  #description-box {
    width: 600px;
    padding: 2px;
  }

  .calendar {
    display: none;
  }

  #date-button-title {
    font-size: 12px;
    font-weight: bold;
    margin-right: 30px;
  }

  #dateButton{
    position:relative;
    top: 7px;
    width: 150px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 2px;
    border-width: 1px;
  }


  .button-container {
    position: relative;
    display: inline-flex;
    flex-direction: row;
  }
  
  #calendarContainer {
    position: absolute;
    top: 72%;
    right: 10%;
    display: none;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 5px;
  }

  #submit-button {
    justify-content: center;
    margin-top: 20px;
    height: 30px;
    width:200px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 2px;
    border-width: 1px;
  }

  
/* CSS for the logo */
#logo-container {
    position: fixed;
    bottom: 8px;
    right: 8px;
  }
  
  #logo {
    width: 30px; /* Set the width of your logo */
    height: auto; /* Maintain the aspect ratio of the logo */
  }